/*,
*::before,
*::after {
    box-sizing: border-box;
}*/

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: white;
    font-size: 16px;
    font-style: normal;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    width: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

input,
button,
textarea {
    font: inherit;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/*HEADER*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-logo-black {
    color: #2E2F42;
}

.header-nav-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 76px;
}

.header-nav-list {
    display: flex;
    gap: 40px;
    
}


.header-nav-item-link {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-nav-item-link:hover,
.header-nav-item-link:focus {
    color: #404bbf;
}

.header-nav-item-link-activ {
    color: #404bbf;
    position: relative;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 27px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-item-link-activ::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;

    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    
}

.header-contact {
    font-style: normal;
    margin-left: auto;
}

.header-contact-list {
    display: flex;
    gap: 40px;
}

.header-contact-item-link {
    color: #434455;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-item-link:hover,
.header-contact-item-link:focus {
    color: #404bbf;
}




/*HERO*/

.hero {
    padding: 188px 0;
    background-color: rgba(46, 47, 66, 0.70);

}

.hero-image {
    margin: 0 auto;
    max-width: 1440px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)),
        url(../images/hero.jpg);
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    margin: 0 auto 48px;
    text-align: center;
    max-width: 496px;
}

.hero-btn {
    color: #FFF;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/*FEATURE*/

.feature {
    padding: 120px 0;
}

.feature-list {
    background-color: #FFF;
    display: flex;
    gap: 24px;
}

.feature-item {
    background-color: #FFF;
    width: calc((100% - 72px) / 4);

}

.feature-icon {
    display: flex;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
}

.feature-item-title {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.feature-item-text {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/*TEAM*/

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-list {
    background-color: #F4F4FD;
    display: flex;
    gap: 24px;

}

.team-item {
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-about {
    padding: 32px 0;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-item-name {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-descr {
    color: #434455;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    margin-top: 8px;
}

.socials-item {
    width: 40px;
    height: 40px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: #f4f4fd;

    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
    fill: currentColor;
}

.socials-link:hover,
.socials-link:focus {
    background-color: #404BBF;
}

/*PORTFOLIO*/

.portfolio {
    padding: 120px 0;
}

.portfolio-list {
    background-color: #FFF;
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    display: block;
    cursor: pointer;
    background-color: #FFF;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: #4D5AE5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #F4F4FD;
}

.portfolio-item:hover .overlay-text {
    transform: translateY(0);
}


.portfolio-about {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-title {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-item-title {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.portfolio-item-descr {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}


/*FOOTER*/

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-wrapper {
    width: 264px;
    margin-right: 120px;
}

.footer-logo-white {
    color: #f4f4fd;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-block;
    margin: 16px 0;
}

.footer-text {
    color: #F4F4FD;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}

.footer-wrapper-text {
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px
}

.icons-item {
    width: 40px;
    height: 40px;
}

.icons-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: #f4f4fd;

    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-icon {
    fill: currentColor;
}

.icons-link:hover,
.icons-link:focus {
    background-color: #31D0AA;
}

.footer-subscrib {
    margin-left: 80px;
}

.footer-subscrib-form {
    display: flex;
    gap: 24px;
}

.footer-subscrib-text {
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.subscribe-form-input {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFF;
    background-color: transparent;
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: none;
}
.form-input::placeholder {
    color: #FFF;
  }



.form-button {
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    background: #4D5AE5;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    color:  #FFF;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: #404BBF;
}

.form-button-icon {
    fill: #fff;
    margin-left: 16px;
}


/*MODAL*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} 

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modal {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

    width: 408px;
    min-height: 584px;
    padding: 24px;
    padding-top: 72px;

    border-radius: 4px;
    background-color: #FCFCFC;

    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    min-width: 24px;
    min-height: 24px;
    background-color:#E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-btn:hover,
.modal-btn:focus {
    background-color:#404BBF;
    fill: #FFFFFF;
    border: none;
}

.modal-btn-icon {
    fill:#2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,.modal-btn-icon,
.modal-btn:focus  .modal-btn-icon{
    
    fill: #FFFFFF;
    
}

.modal-caption {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 360px;
    margin-bottom: 16px;
    display: block;
}

.modal-form-wrapper {
    margin-bottom: 8px;
}
.form-label {
    display: block;
    margin-bottom: 4px;

    color: #8E8F99;
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.form-field {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px; 
    border: 1px solid rgba(46, 47, 66, 0.4); 
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4D5AE5
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-input:focus+.form-icon {
    fill: #4D5AE5; 
}

.modal-text-field-wrapper {
    margin-bottom: 16px;
}
.modal-text-field {
    color: rgba(46, 47, 66, 0.40);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        padding: 8px 16px; 
        width: 360px;
        min-height: 120px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
}

.modal-text-field::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-text-field:focus {
    border-color: #4D5AE5
}

.form-btn {
    color: #FFF;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    display: block;
    padding: 16px 32px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 24px auto;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-btn:hover,
.form-btn:focus {
   background-color: #404BBF; 
}

.modal-check-wrapper {
    margin-bottom: 24px;
}

.check-input:checked+.modal-label-text .modal-check-box {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.modal-label-text {
    color: #8E8F99;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
}

.modal-check-box {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    flex-shrink: 0;
    stroke-width: 1px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link-text {
    color: #4D5AE5;
    text-decoration-line: underline;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link-text:hover,
.modal-link-text:focus {
    color: #404BBF;
}